.tournament-container .card {
  width: 190px;
  height: 220px;
  background: #f5f5f5;
  padding: 3rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
}

.tournament-container .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
}

/*Image*/
.tournament-container .card-avatar {
  --size: 90px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
}


/*Card footer*/
.tournament-container .card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
  padding: 0px;
}

.tournament-container .card-social__item {
  list-style: none;
}

/*Text*/
.tournament-container .card-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
}

/*Hover*/
.tournament-container .card:hover {
  box-shadow: 0 8px 50px #23232333;
}

.tournament-container .card:hover .card-info {
  transform: translateY(-5%);
}

.tournament-container .card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
}

.tournament-container .card-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
}

.tournament-container .card-avatar:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .tournament-container .card {
    width: auto !important;
    height: 190px !important;
  }

  .tournament-container .card-avatar {
    --size: 78px !important;
    width: var(--size) !important;
    height: var(--size) !important;
  }

  .tournament-container .card-title {
    font-size: 18px !important;
  }
}